@{
    string[] cities = new string[] { "Moscow", "Warshava", "New-York" };
    string[] countries = new string[] { "Russia", "Poland", "United States" };
}
@using MVC_Fourth

<h1>Города</h1>
@Html.CreateList(cities);
